body {
  font-family: $arial;
}

/* Headings styling */
%heading {
  font-family: $arial, sans-serif;
  font-weight: $regular-weight;
}

h1 {
  @extend %heading;
  font-size: 3.2rem;
  line-height: 3rem;
  text-align: left;
  font-weight: bold;
  color: $secondary-color;
}

h2 {
  @extend %heading;
  font-weight: $regular-weight;
  font-size: 4rem;
  line-height: 5.3rem;
  color: $white;
}

h4 {
  @extend %heading;
  font-weight: $medium-weight;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: $white;
  color: #fff;
  text-shadow: #fff 0 0 10px;
}

/* Paragraphs styling */
p,
span {
  font-family: $arial, sans-serif;
  font-size: $regular-size;
  line-height: 2.6rem;
  font-weight: 300;
  margin-bottom: 0;
  color: $white;
}

a {
  color: $secondary-color;
  font-size: 1.2rem;
}

.paragraph-bold {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.7rem;
  color: $white;
}

.bold {
  font-weight: bold;
}
