/* Colors */
// Main colors
$primary-color: #fff;
$primary-color-light: #303030;
$secondary-color: #18b89e;
$secondary-color-dark: rgb(53, 2, 2);
$tertiary-color: #ffbb00;
$tertiary-color-light: #fc0;
$tertiary-color-dark: #ff5500;
$color-gray: #535353;
$color-gray-light: #505050;
$white: #fff;

// Gray shades
$light-gray: #dfdbe5;
$medium-lighter: #b2baba;
$medium-gray: #7f8c8d;
$light-dark: #33261f;
$dark-gray: #333;

// Shadow colors
$gray-shadow: rgba(180, 179, 180, 0.3);
$black-shadow: rgba(0, 0, 0, 0.64);

// Font families
$arial: Arial;

// Font sizes
$regular-size: 1.6rem;

// Font weights
$regular-weight: 400;
$medium-weight: 500;
