// Imports
@import "../../../styles/main.scss";

.chat_wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 450px;
  width: 50%;
  background-color: $primary-color-light;
  border-radius: 2px;
  padding: 2rem 0;
  padding-left: 1rem;

  @include respond(tab-port) {
    width: 100%;
    height: 100%;
    margin-top: 3rem;
  }

  @include respond(phone) {
    min-width: 100%;
    flex-direction: column;
    padding: 1rem;
  }
}

.chat {
  margin: 1rem;
  margin-left: 0;
  padding: 2rem;
  background: $primary-color;
  border-radius: 10px;
  min-height: 40vh;
  max-height: 60vh;
  overflow-y: auto;
  width: 70%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  .chatParagraph {
    margin-bottom: 2rem;
    display: flex;
    color: $secondary-color;

    svg {
      width: 3rem;
      height: auto;
      margin-right: 10px;
    }
  }

  @include respond(phone) {
    width: 100%;
  }
}

.chat_input_wrapper {
  display: flex;
  margin-bottom: 2rem;

  button {
    @extend %button;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

    svg {
      margin-right: 0;
    }

    &:hover {
      background-color: $primary-color-light;
    }
  }
}
